/* || RESET */
* {
    margin: 0;
    padding: 0.7rem;
    box-sizing: border-box;
}

/* || VARIABLES */
:root {
    /* COLOR */
    --BGCOLOR: #334;
    --FGCOLOR: whitesmoke;
    --SEATGREEN: hsl(83, 64%, 35%);

}

/*  FONT-FACES   */
@font-face {
    font-family: "camingocode";
    src: url('../font/CamingoCode-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "camingocode";
    src: url('../font/CamingoCode-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "camingocode";
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 600px;
    background: center url("../img/hyperloop.jpg") #334;
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--FGCOLOR);
}

footer {
    border-top: 2px gray solid;
}

header,
main,
footer {
    display: flex;
    width: 600px;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

img {
    width: 600px;
}

.flex-grid-third {
    width: 35%;
    text-align: center;
    opacity: 85%;
}

#settings {
    text-align: center;
}

#text-window {
    border: 2px rgba(212, 202, 62, 0.847) solid;
    background-color: rgb(26, 24, 8);
    width: 600px;
}

#statistics,
#canvas {
    border: 1px grey solid;
    background-color: rgb(26, 24, 8);
    width: 350px;
    text-align: center;
}

#canvas {
    height: 100px;
}


h2,
h3 {
    text-align: center;
}

span {
    padding: 0;
}

#play {
    font-size: 3rem;
    padding-bottom: 10px;
}

#selected {
    background-color: #5758be;
}

#error {
    background-color: salmon;
}

#pass {
    color: yellow;
}

.animate {
    animation-name: mymove;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.pop,
#pass {
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes mymove {
    0% {
        transform: translateX(-6px);
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(6px);
        opacity: 0.1;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(5), translateY(3px);
        opacity: 0;
    }
}